*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Nav */
.main-nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo{
    width: 110px;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

/* Showcase */

.showcase{
    width: 100%;
    height: 500px;
    background: url('./img/slide1.png')
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    padding: 40px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p{
    margin-bottom: 10px;
}

.showcase .btn{
    margin-top: 15px;
}


.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
}

.btn:hover{
    opacity: 0.9;
}

/* Home cards*/

.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-cards img{
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3{
    margin-bottom: 5px;
}

.home-cards a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i{
    margin-left: 10px;
}

/* Xbox */

.xbox{
    width: 100%;
    height: 350px;
    background: url('./img/slide2.png')
    no-repeat center center/cover;
    padding: 30px;
    margin-bottom: 20px;
}

.xbox .content{
    width: 40%;
    position: relative;
}

.xbox .content h2, .xbox .content p{
    margin-bottom: 10px;
}

.xbox .content .btn{
    margin-top: 15px;
}