*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(247, 247, 247);
}

nav{
    width: 100%;
    height: 85px;
    background-color: antiquewhite;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.3rem;
    font-size: 1rem;
    color: #646262;
}

.container{
    width: 90%;
    max-width: 400px;
    margin: auto;
    color: black;
}

.weather-container{
    display: flex;
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 200px;
    margin:25px auto 3px auto;
    color: rgb(102, 102, 102);
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background: white;
}

.logo{
    height: 43px;
    width: 43px;
    display: inline-block;
    margin-right: 0.6rem;
}

.title{
    font-weight: bold;
    font-size: 1.1rem;
}

.sub-title{
    font-size: 0.8rem;
}

.current-weather{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.location-time-condition {
    padding-left: 10px;
    margin-bottom: 10px;
}

.location-time-condition *{
    margin-bottom: 4px;
}

.temp-information{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    text-align: left;
}

.temp-information .icon-temp{
    margin-right: 20px;
}

.current-img{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

.icon-temp {
    display: flex;
    align-items: center;
}

.icon-temp p {
    color:  black;
    font-size: 2.5rem;
}

.temp-information .information *{
    margin-bottom: 3px;
}


.weatherMapSigniture{
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 0.7rem;
    color: gray;
    margin-top: -17px;
}

.weatherMapSigniture a{
    text-decoration: none;
    color: rgb(219, 98, 17);
}

/* pm */

.pm-containers{
    width: 100%;
    display: flex;
    height: 170px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px rgb(209, 209, 209) solid;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
}

.pm-container{
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.pm-container p{
    margin-bottom: 13px;
    margin-left: -30px;
    font-size: 1.2rem;
    color: #585858;
}

.pm-information{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pm-information-condition-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pm-information-condition-icon .pm-condition{
    width: 30px;
    margin-bottom: 5px;
}

.pm-container-icon{
    font-size: 1.5rem;
}

.pm10-circle-Value{
    font-weight: bold;
}
.pm25-circle-Value{
    font-weight: bold;
}

.who-recommend{
    width: 100%;
    background-color: white;
    height: 230px;
    border: 1px rgb(209, 209, 209) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.who-recommend-title{
    font-size: 1.2rem;
    color: #4e4e4e;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding-bottom: 3px;
    width: 100%;
}

.title-value{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.recommend-title{
    margin-right: 30px;
}

.recommend-title p{
    margin-bottom: 5px;
}

.recommend-value{
    font-weight: bold;
    color: rgb(26, 158, 112);
}

.recommend-value p {
    margin-bottom: 5px;
}

.who-recommend-description{
    color: #5c5c5c;
}

.pm-data-from{
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 0.7rem;
    color: gray;
    margin-top: 4px;
}

.pm-data-from a{
    text-decoration: none;
    color: rgb(13, 86, 197);
}



/* etc */


.etc-containers{
    width: 100%;
    height: 430px;
    margin: auto;
    background-color: white;
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 5px;
    padding: 40px 10px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}

.etc-title{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    color: #696969;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-left: -10px;
}

.etc-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.etc-container * {
    margin-bottom: 0.5rem;
}

.etc-container-title{
    font-size: 1.4rem;
    color: #646262;
}


.etc-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.etc-information .etc-value{
    font-size: 1.2rem;
}

.etc-information i{
    font-size: 1.3rem;
    margin-right: 10px;
}

.etc-information:nth-child(2){
    font-size: 1.1rem;
}

.etc-value{
    flex: 1;
}

.progress{
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 10px;
    width: 200px;
}



.progress-done{
    background: linear-gradient(to right, rgb(120, 197, 202), rgb(54, 126, 136));
    box-shadow: 0 3px 3px -5px rgb(143, 134, 137), 0 2px 5px rgb(139, 133, 135);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    width: 0px;
    color: aliceblue;
    transition: 1s ease-out;
}



/* foorter */

footer{
    background-color:rgb(43, 41, 48);
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem;
    font-size: 1rem;
}

.footer-title{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.3rem;
}

footer .title{
    font-weight: bold;
}

footer.sub-title{
    font-size: 1.8rem;
}

footer a{
    text-decoration: none;
    color: rgb(119, 178, 230);
    font-weight: bold;
}

footer > *{
    margin-bottom: 0.5rem;
}

footer .love-icon{
    width: 0.8rem;
    height: 0.8rem;
}

/* grade info */

.grade-info{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 5px;
    padding: 22px 20px 5px 15px;
}


.grade-info p{
    border-bottom: 3px solid rgb(218, 218, 218);
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #5c5c5c;
}

.grade-info ul{
    list-style: none;
}

.grade-info ul li{
    margin-bottom: 19px;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.grade-info ul li i{
    margin-right: 3px;
}

.grade-info .grade ul li{
    text-align: left;
}

.grade-info ul li:nth-child(1){
    color : rgb(51, 133, 255);
}

.grade-info ul li:nth-child(2){
    color : rgb(79,153, 202);
}

.grade-info ul li:nth-child(3){
    color : rgb(46, 143, 156);
}

.grade-info ul li:nth-child(4){
    color : rgb(62, 182, 140);
}

.grade-info ul li:nth-child(5){
    color : rgb(255, 179, 102);
}

.grade-info ul li:nth-child(6){
    color : rgb(230, 92, 0);
}

.grade-info ul li:nth-child(7){
    color : rgb(255, 51, 0);
}

.grade-info ul li:nth-child(8){
    color : rgb(31, 46, 46);
}

.grade-pm10 ul li{
    margin-bottom: 21px;
}

.grade-pm25 ul li{
    margin-bottom: 21px;
}

.grade ul i{
    font-size: 1rem;
}


/* location & time information */
.current{
    color: rgb(90, 90, 90);
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    margin: auto;
    font-size: 0.9rem;
    border: 3px solid;
    background: rgba(255, 255, 255, 1);
    border: 1px rgb(209, 209, 209) solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.current > *{
    margin-bottom: 0.3rem;
}


@media screen and (max-width:500px){
    footer{
        font-size: 12px;
    }

    footer .love-icon{
        width: 0.6rem;
        height: 0.6rem;
    }

    .current{
        font-size: 0.8rem;
        height: 7rem;
        padding: 1.5rem;
    }

}